.colorful pre { line-height: 125%; }
.colorful td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.colorful span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.colorful td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.colorful span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.colorful .highlight .hll { background-color: #ffffcc }
.colorful .highlight { background: #ffffff; }
.colorful .highlight .c { color: #888888 } /* Comment */
.colorful .highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.colorful .highlight .k { color: #008800; font-weight: bold } /* Keyword */
.colorful .highlight .o { color: #333333 } /* Operator */
.colorful .highlight .ch { color: #888888 } /* Comment.Hashbang */
.colorful .highlight .cm { color: #888888 } /* Comment.Multiline */
.colorful .highlight .cp { color: #557799 } /* Comment.Preproc */
.colorful .highlight .cpf { color: #888888 } /* Comment.PreprocFile */
.colorful .highlight .c1 { color: #888888 } /* Comment.Single */
.colorful .highlight .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.colorful .highlight .gd { color: #A00000 } /* Generic.Deleted */
.colorful .highlight .ge { font-style: italic } /* Generic.Emph */
.colorful .highlight .gr { color: #FF0000 } /* Generic.Error */
.colorful .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.colorful .highlight .gi { color: #00A000 } /* Generic.Inserted */
.colorful .highlight .go { color: #888888 } /* Generic.Output */
.colorful .highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.colorful .highlight .gs { font-weight: bold } /* Generic.Strong */
.colorful .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.colorful .highlight .gt { color: #0044DD } /* Generic.Traceback */
.colorful .highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.colorful .highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.colorful .highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.colorful .highlight .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.colorful .highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.colorful .highlight .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.colorful .highlight .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.colorful .highlight .s { background-color: #fff0f0 } /* Literal.String */
.colorful .highlight .na { color: #0000CC } /* Name.Attribute */
.colorful .highlight .nb { color: #007020 } /* Name.Builtin */
.colorful .highlight .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.colorful .highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.colorful .highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.colorful .highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.colorful .highlight .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.colorful .highlight .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.colorful .highlight .nl { color: #997700; font-weight: bold } /* Name.Label */
.colorful .highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.colorful .highlight .nt { color: #007700 } /* Name.Tag */
.colorful .highlight .nv { color: #996633 } /* Name.Variable */
.colorful .highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.colorful .highlight .w { color: #bbbbbb } /* Text.Whitespace */
.colorful .highlight .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.colorful .highlight .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.colorful .highlight .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.colorful .highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.colorful .highlight .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.colorful .highlight .sa { background-color: #fff0f0 } /* Literal.String.Affix */
.colorful .highlight .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.colorful .highlight .sc { color: #0044DD } /* Literal.String.Char */
.colorful .highlight .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
.colorful .highlight .sd { color: #DD4422 } /* Literal.String.Doc */
.colorful .highlight .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.colorful .highlight .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.colorful .highlight .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.colorful .highlight .si { background-color: #eeeeee } /* Literal.String.Interpol */
.colorful .highlight .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.colorful .highlight .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.colorful .highlight .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.colorful .highlight .ss { color: #AA6600 } /* Literal.String.Symbol */
.colorful .highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.colorful .highlight .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
.colorful .highlight .vc { color: #336699 } /* Name.Variable.Class */
.colorful .highlight .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.colorful .highlight .vi { color: #3333BB } /* Name.Variable.Instance */
.colorful .highlight .vm { color: #996633 } /* Name.Variable.Magic */
.colorful .highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
