<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ site.title }}</title>

		<meta name="title" content="{{ site.title }}">

		<meta property="og:title" content="{{ site.title }}">
		<meta property="og:description" content="{{ site.description }}">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site.url | relative_url }}">
		<meta property="og:locale" content="en_CA">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap">
		<link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
		{% for style in site.styles %}
			<link rel="stylesheet" href="{{ '/assets/highlight/' | append: style | append: '.css' | relative_url }}">
		{% endfor %}
	</head>
	<body class="default">
		{{ content }}
		<script type="text/javascript">
			document.getElementById("style-container").style = null;
			const select = document.getElementById("style-select");
			let style = select.value;
			document.body.classList.add(style);
			select.addEventListener("input", () => {
				document.body.classList.replace(style, select.value);
				style = select.value;
			});
		</script>
	</body>
</html>
